<link rel="stylesheet" href="/css/home.css">
<div class="home">
    
     <div class="nav-right"> 
       <input type="text" class="searchbox">
       
    </div> 
    <div id="project-list">
        <h3>Projects</h3>
        <a class="Createnewbtn" href="/project/createpage">Create new</a>
        
        <ul>
            <% for (project of _Projects) { %>
                <li id="<%= project._id %>">
                  <h5 class="name"><%= project.name %></h5>
                  <p class="privacy" ><%= project.privacy %></p>
                  <p class="desc" ><%= project.description %></p>
                  <p class="type"><span style="background-color: yellow;"></span>&nbsp;<%= project.specialization %></p>
                  <p class="author"><img src="icons/person.svg" >&nbsp;<%= project.author %></p>
                </li>
              <% } %>
        </ul>

    </div>   
 

</div>

  